<h1>{{ object.name }}
    {% if object.get_edit_url %}
    <small>
        <a href='{{ object.get_edit_url }}'>Edit</a>
        <a href='{{ object.get_delete_url }}' hx-post="{{ object.get_delete_url }}"
        hx-confirm="Are you sure to delete this object {{ object.name }}" hx-trigger="click"
        hx-headers="{'X-CSRFToken':'{{csrf_token}}'}">Delete</a>
    </small>
    {% endif %}</h1>
<p>{{ object.description }}</p>
<p>{{ object.directions }}</p>

{% for ingredient in object.get_ingredients_children %}
<h1>{{ ingredient.name }}</h1>
<p>{{ ingredient.as_imperial }}</p>
<p>{{ ingredient.as_mks }}</p>
{% endfor %}

